* {touch-action: pan-y;}
html {margin: 0;padding: 0;}
#canvas {width:100%;height:2160px;overflow:hidden;position:absolute;}
.canvas-wrap{width:100%;height:100%;position:fixed;left:0;top:0;}
div,p,ul,li,a,img,i,b,span,input,textarea,select,label {outline: none !important;}
textarea {-webkit-appearance: none;appearance: none;}
#app .el-row:not(.el-row--flex) {margin: 0 auto !important;padding: 16px;max-width: 1032px;}
.el-card {background: none !important;}
.el-collapse-item__content {padding-bottom:0px!important;}
.el-collapse-item .el-button--limr {background:rgba(255,255,255,.5)!important;border-radius: 4px!important;height:32px!important;}
.el-collapse-item .el-button--limr:active,.el-button--limr:focus,.el-button--limr:hover {color:#606266!important;border-color:#DCDFE6!important;}
.el-collapse-item__wrap {background: none !important;border-bottom:none!important;}
.el-collapse {border-top:none!important;border-bottom:none!important;}
.el-collapse-item__header {background: none !important;border-bottom:none!important;height:auto!important;}
.el-collapse-item__arrow {display: none!important;}
.el-card__header {position: relative;color: #fff;}
.el-card__body {background: rgba(255,255,255,.8);color: #000;}
.el-form-item__label,.el-radio,.el-textarea__inner,.el-input__inner,.el-select .el-input .el-select__caret,.el-input-group__append {color: #000 !important;}
.el-divider {background: rgba(0,0,0,.2) !important;}
.el-textarea__inner,.el-input__inner {background: rgba(255,255,255,.5) !important;}
.el-input.is-active .el-input__inner, .el-input__inner:focus, .el-select .el-input.is-focus .el-input__inner, .el-textarea__inner:focus {border-color: #999 !important;}
.el-checkbox.is-bordered,.el-checkbox__inner {border: 1px solid #000 !important;}
.el-checkbox {color: #000 !important;}
.el-checkbox.is-bordered.is-checked {border-color: #000 !important;}
.el-radio__input.is-checked+.el-radio__label {color: #000 !important;}
.el-radio__input.is-checked .el-radio__inner {border-color: #000 !important;background: #000 !important;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {background-color: #000 !important;}
.el-checkbox__input.is-checked+.el-checkbox__label {color: #000 !important;}
.el-row--flex .el-checkbox__input.is-checked+.el-checkbox__label {color: #fff !important;}
.el-row--flex .el-checkbox__input.is-checked .el-checkbox__inner,.el-row--flex .el-checkbox__input.is-indeterminate .el-checkbox__inner {background-color: #000 !important;border-color: #fff !important;}
.el-row--flex .el-checkbox__inner:hover {border-color: #000 !important;}
.el-row--flex .el-checkbox__input.is-focus .el-checkbox__inner {border-color: #fff !important;}
.el-checkbox.is-bordered.is-checked {background: rgba(0,0,0,.88) !important;color: #fff !important;}
.el-row span .el-button {background: none !important;border: 1px solid #000 !important;color: #000 !important;}
.el-row span .el-button:focus,.el-row span .el-button:hover {color: #fff !important;background: rgba(0,0,0,.88) !important;}
.el-divider__text {border: 1px solid rgba(0,0,0,.4);border-radius: 3px;}
.el-select-dropdown__item.selected {background: #333 !important;color: #fff !important;}
.el-input.is-disabled .el-input__inner {border: none;}
.el-form-item:last-child .el-button--primary {background-color: #303133 !important;border-color: #303133 !important;}
.el-form-item:last-child .el-button--primary:focus, .el-form-item:last-child .el-button--primary:hover {background: #666 !important;border-color: #666 !important;}
.el-form-item:last-child .el-button--primary.is-disabled {background: #999 !important;border-color: #999 !important;}
.el-row--flex {align-items: center;flex-wrap: wrap;justify-content: space-between;}
.el-row--flex .el-col-24 {width: auto !important;margin: 5px 0;}
.el-select-group__title {color: #999 !important;background: rgba(0,0,0,.1);font-weight: 600;}
.el-input-group__append button.el-button {border-color: transparent !important;background-color: #303133 !important;color: #fff !important;}
.el-input__inner::-webkit-input-placeholder, .el-textarea__inner::-webkit-input-placeholder { color: #777 !important; } 
.el-input__inner:-moz-placeholder, .el-textarea__inner:-moz-placeholder { color: #777 !important; } 
.el-input__inner::-moz-placeholder, .el-textarea__inner::-moz-placeholder { color: #777 !important; } 
.el-input__inner:-ms-input-placeholder, .el-textarea__inner:-ms-input-placeholder { color: #777 !important; }
.el-popover.el-popper .el-row:focus, .el-popover.el-popper .popper__arrow {outline: none;}
.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {box-shadow: none !important;}
.el-radio__inner:hover {border-color: #000 !important;}
.el-radio__inner {border: 1px solid #999 !important;}
.el-dialog {width: 90% !important;}
.dialog-footer .el-button, .dialog-footer .el-button {background: none !important;border: 1px solid #000 !important;color: #000 !important;}
.dialog-footer .el-button:focus, .dialog-footer .el-button:hover {color: #fff !important;background: #303133 !important;border: 1px solid #303133 !important;}
.dialog-footer .el-button--primary {background-color: #303133 !important;border-color: #303133 !important;color: #fff !important;}
.dialog-footer .el-button--primary:focus, .dialog-footer .el-button--primary:hover {background: #666 !important;border-color: #666 !important;}
.dialog-footer .el-button--primary.is-disabled, .dialog-footer .el-button--primary.is-disabled:active, .dialog-footer .el-button--primary.is-disabled:focus, .dialog-footer .el-button--primary.is-disabled:hover {background: #999 !important;border-color: #999 !important;color: #fff !important;}
.el-link.el-link--primary {color: #333 !important;}
.el-link.el-link--primary:hover {color: #000 !important;}
.el-link.el-link--default:after, .el-link.el-link--primary.is-underline:hover:after, .el-link.el-link--primary:after {border-color: #000 !important;}
