.dark-mode #canvas {display:none!important}
.dark-mode .canvas-wrap{display:none!important}
.dark-mode .el-card {background: none !important;}
.dark-mode .el-popover {background:#000!important}
.dark-mode .youguan,.dark-mode .dianbao {dispaly:none!important}
.dark-mode .el-collapse-item__content {padding-bottom:0px!important;}
.dark-mode .el-button--zhuti {color:#fff!important;font-size:14px!important;border:0!important;width:54px!important;padding:0px 0px!important;background-color:#000!important;}
.dark-mode .el-button--zhuti:active,.dark-mode .el-button--zhuti:focus,.dark-mode .el-button--zhuti:hover {color:#fff!important;}
.dark-mode,.dark-mode .el-button--primary,.dark-mode .el-button--warning,.dark-mode .el-button--success,.dark-mode .el-button--danger{background-color:#000!important}
.dark-mode .el-collapse-item .el-button--limr {color:#fff!important;background:rgba(255,255,255,.5)!important;border-radius: 4px!important;height:32px!important;}
.dark-mode .el-collapse-item .el-button--limr:active,.dark-mode .el-button--limr:focus,.dark-mode .el-button--limr:hover {color:#fff!important;border-color:#DCDFE6!important;}
.dark-mode .el-collapse-item__wrap {background: none !important;border-bottom:none!important;}
.dark-mode .el-collapse {border-top:none!important;border-bottom:none!important;}
.dark-mode .el-collapse-item__header {background:none!important;border-bottom:none!important;height:auto!important;}
.dark-mode .el-collapse-item__arrow {display: none!important;}
.dark-mode .el-card__header {background: rgba(0,0,0,.8)!important;position: relative;color: #fff;}
.dark-mode .el-card__body {background: rgba(0,0,0,.8);color: #000;}
.dark-mode .el-checkbox,.dark-mode .el-form-item__label,.dark-mode .el-radio,.dark-mode .el-textarea__inner,.dark-mode .el-input__inner,.dark-mode .el-select .el-input .el-select__caret,.dark-mode .el-input-group__append {color: #fff !important;}
.dark-mode .el-divider {background: rgba(255,255,255,.5) !important;}
.dark-mode .el-divider__text {background-color: #000!important;color: #fff!important;}
.dark-mode .el-textarea__inner,.dark-mode .el-input__inner {background: rgba(255,255,255,.5) !important;}
.dark-mode .el-input.is-active .el-input__inner,.dark-mode .el-input__inner:focus,.dark-mode .el-select .el-input.is-focus .el-input__inner,.dark-mode .el-textarea__inner:focus {border-color: #999 !important;}
.dark-mode .el-checkbox.is-bordered,.dark-mode .el-checkbox__inner {border: 1px solid #fff !important;}
.dark-mode .el-checkbox.is-bordered.is-checked {border-color: #fff !important;}
.dark-mode .el-radio__input.is-checked+.el-radio__label {color: #000 !important;}
.dark-mode .el-radio__input.is-checked .el-radio__inner {border-color: #000 !important;background: #000 !important;}
.dark-mode .el-checkbox__input.is-checked .el-checkbox__inner,.dark-mode .el-checkbox__input.is-indeterminate .el-checkbox__inner {background-color: #000 !important;}
.dark-mode .el-checkbox__input.is-checked+.el-checkbox__label {color: #fff !important;}
.dark-mode .el-row--flex .el-checkbox__input.is-checked+.el-checkbox__label {color: #fff !important;}
.dark-mode .el-row--flex .el-checkbox__input.is-checked .el-checkbox__inner,.dark-mode .el-row--flex .el-checkbox__input.is-indeterminate .el-checkbox__inner {background-color: #000 !important;border-color: #fff !important;}
.dark-mode .el-row--flex .el-checkbox__inner:hover {border-color: #000 !important;}
.dark-mode .el-row--flex .el-checkbox__input.is-focus .el-checkbox__inner {border-color: #fff !important;}
.dark-mode .el-checkbox.is-bordered.is-checked {background: rgba(0,0,0,.88) !important;color: #fff !important;}
.dark-mode .el-row span .el-button {background: none !important;border: 1px solid #fff !important;color: #fff !important;}
.dark-mode .el-row span .el-button:focus,.dark-mode .el-row span .el-button:hover {color: #fff !important;background: rgba(0,0,0,.88) !important;}
.dark-mode .el-divider__text {border: 1px solid rgba(0,0,0,.4);border-radius: 3px;}
.dark-mode .el-select-dropdown__item.selected {background: #333 !important;color: #fff !important;}
.dark-mode .el-input.is-disabled .el-input__inner {border: none;}
.dark-mode .el-form-item:last-child .el-button--primary {background-color: #303133 !important;border-color: #303133 !important;}
.dark-mode .el-form-item:last-child .el-button--primary:focus,.dark-mode .el-form-item:last-child .el-button--primary:hover {background: #666 !important;border-color: #666 !important;}
.dark-mode .el-form-item:last-child .el-button--primary.is-disabled {background: #999 !important;border-color: #999 !important;}
.dark-mode .el-row--flex {align-items: center;flex-wrap: wrap;justify-content: space-between;}
.dark-mode .el-row--flex .el-col-24 {width: auto !important;margin: 5px 0;}
.dark-mode .el-select-group__title {color: #999 !important;background: rgba(0,0,0,.1);font-weight: 600;}
.dark-mode .el-input-group__append button.el-button {border-color: #303133 !important;background-color: #303133 !important;color: #fff !important;}
.dark-mode .el-input-group__append,.dark-mode .el-input-group__prepend {border-color: #303133 !important;background-color:#303133!important}
.dark-mode .el-input__inner::-webkit-input-placeholder,.dark-mode .el-textarea__inner::-webkit-input-placeholder { color: rgba(255,255,255,.6) !important; } 
.dark-mode .el-input__inner:-moz-placeholder,.dark-mode .el-textarea__inner:-moz-placeholder { color: rgba(255,255,255,.6) !important; } 
.dark-mode .el-input__inner::-moz-placeholder,.dark-mode .el-textarea__inner::-moz-placeholder { color: rgba(255,255,255,.6) !important; } 
.dark-mode .el-input__inner:-ms-input-placeholder,.dark-mode .el-textarea__inner:-ms-input-placeholder { color: rgba(255,255,255,.6) !important; }
.dark-mode .el-popover.el-popper .el-row:focus,.dark-mode .el-popover.el-popper .popper__arrow {outline: none;}
.dark-mode .el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {box-shadow: none !important;}
.dark-mode .el-radio__inner:hover {border-color: #000 !important;}
.dark-mode .el-radio__inner {border: 1px solid #999 !important;}
.dark-mode .el-dialog {width: 90% !important;}
.dark-mode .dialog-footer .el-button,.dark-mode .dialog-footer .el-button {background: none !important;border: 1px solid #000 !important;color: #000 !important;}
.dark-mode .dialog-footer .el-button:focus,.dark-mode .dialog-footer .el-button:hover {color: #fff !important;background: #303133 !important;border: 1px solid #303133 !important;}
.dark-mode .dialog-footer .el-button--primary {background-color: #303133 !important;border-color: #303133 !important;color: #fff !important;}
.dark-mode .dialog-footer .el-button--primary:focus,.dark-mode .dialog-footer .el-button--primary:hover {background: #666 !important;border-color: #666 !important;}
.dark-mode .dialog-footer .el-button--primary.is-disabled,.dark-mode .dialog-footer .el-button--primary.is-disabled:active,.dark-mode .dialog-footer .el-button--primary.is-disabled:focus,.dark-mode .dialog-footer .el-button--primary.is-disabled:hover {background: #999 !important;border-color: #999 !important;color: #fff !important;}
.dark-mode .el-link.el-link--primary {color: #333 !important;}
.dark-mode .el-link.el-link--primary:hover {color: #000 !important;}
.dark-mode .el-link.el-link--default:after,.dark-mode .el-link.el-link--primary.is-underline:hover:after,.dark-mode .el-link.el-link--primary:after {border-color: #000 !important;}
